# Build artifacts
/build/
/target/
*.jar
*.class

# Gradle
.gradle/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache

# IDE
/.idea/
*.iml
*.iws
*.ipr

# OS
.DS_Store
Thumbs.db

# Project specific
build.properties
/*.sh